/* --- CSS Reset Básico --- */
* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

/* --- Fim do Reset --- */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  background: #36413E;
}



/* ================================================ */
/* -------------Jardim <--------------------------------------------------------*/
/* ================================================ */
#garden-canvas {
  display: flex;
  flex-direction: column;
  width: 700px; 
  height: 100vh;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: grid;
  place-items: center;
}
.sky-container {
  width: 700px;
  height: 35vh;
  background: linear-gradient(180deg, #85C7F2, #FFFFFF);
  position: relative; 
  grid-column: 1; 
  grid-row: 1;
  align-self: start;
}
.subtitle {
  font-size: 20px;
  color: #FFFFFF;
  font-weight: bold;
}
.grass-container {
  width: 700px;
  height: 65vh;
  background: linear-gradient(180deg, #C1F387, #83C259);
  cursor: pointer;
  position: relative;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
}
.idle-flower {
  position: absolute;
  width: 80px;
  height: 80px;
  pointer-events: none;
}
.idle-rosa {
  background-image: url('./assets/rosa-espera-sprite2.png');
  background-size: 160px 80px;
  animation: espera-anim 1s steps(2) infinite;
}

@keyframes espera-anim {
  to {
    background-position: -160px 0; 
  }
}

.spawn-animation {
  position: absolute;
  width: 80px; 
  height: 80px;
  
  background-image: url('./assets/rosa-brotando-sprite.png');
  
  background-size: 320px 320px; 
  animation: brotar-anim 1s steps(16) forwards; 
}

@keyframes brotar-anim {
   0% { background-position:    0px    0px; } /* Frame 1 */
   6.25% { background-position:  -80px    0px; } /* Frame 2 */
   12.5% { background-position: -160px    0px; } /* Frame 3 */
   18.75% { background-position: -240px    0px; } /* Frame 4 */
   
   25% { background-position:    0px  -80px; } /* Frame 5 (Próxima linha) */
   31.25% { background-position:  -80px  -80px; } /* Frame 6 */
   37.5% { background-position: -160px  -80px; } /* Frame 7 */
   43.75% { background-position: -240px  -80px; } /* Frame 8 */

   50% { background-position:    0px -160px; } /* Frame 9 */
   56.25% { background-position:  -80px -160px; } /* Frame 10 */
   62.5% { background-position: -160px -160px; } /* Frame 11 */
   68.75% { background-position: -240px -160px; } /* Frame 12 */

   75% { background-position:    0px -240px; } /* Frame 13 */
   81.25% { background-position:  -80px -240px; } /* Frame 14 */
   87.5% { background-position: -160px -240px; } /* Frame 15 */
   93.75% { background-position: -240px -240px; } /* Frame 16 */
   
   100% { background-position: -240px -240px; } /* Permanece no último frame */
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.5); }
  to { opacity: 1; transform: scale(1); }
}



/* ================================================ */
/* ------------- Caixa de Presente <--------------------------------------------------------*/
/* ================================================ */
.surprise-box {
  position: fixed;
  top: 50%;
  left: 50%;
  
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 20px;
  background-color: #FFFFFF;
  cursor: pointer;
  
  transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.5s ease;
  
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5); 
  pointer-events: none;
}

.surprise-box.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
  z-index: 50;
}
.surprise-box svg {
  fill: #F44336;
  filter: drop-shadow(0 5px 15px rgba(0,0,0,0.3)); 
}
.surprise-box:hover {
  box-shadow: inset 3px 3px 6px 0 rgba(0, 0, 0, .2);
}


/* ================================================ */
/* ------------- Carta <--------------------------------------------------------*/
/* ================================================ */
.letter-container {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  opacity: 0;
  transform: scale(0.5);
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  z-index: 100;
}

.letter-container.show {
  opacity: 1;
  transform: scale(1); 
  pointer-events: auto;
}

.letter-content {
  position: relative;
  background: #FFFFFF;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  
  width: 500px;
  min-height: 33vh; 
  
  transform: scale(0.5);
  transition: transform 0.5s ease-in-out;
}

.letter-container.show .letter-content {
  transform: scale(1);
}

.message-text {
  line-height: 1.7; 
  font-size: 1.1em;
  color: #333;
}

.close-letter-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #eee;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.close-letter-button::before {
  content: 'X';
}



/* ================================================ */
/* -------Formato Responsivo para Androids <--------------------------------------------------------*/
/* ================================================ */
@media (max-width: 700px){
  #garden-canvas {
    width: 100%;
  }
  .sky-container {
    width: 100%;
  }
  .grass-container {
    width: 100%;
  }
  .flower {
    width: 80px;
    height: 80px;
  }
  

  /* ------------- Caixa de Presente <------------------*/
  .surprise-box {
    height: 60px;
    width: 60px;
    border-radius: 20px;
  }
  .surprise-box svg {
    filter: drop-shadow(0 5px 15px rgba(0,0,0,0.3)); 
  }
  .surprise-box:hover {
    box-shadow: inset 3px 3px 6px 0 rgba(0, 0, 0, .2);
  }


  /* ------------- Carta <----------------------------------*/
  .letter-container {
    width: 100%;
    height: 100%;
  }
  .letter-content {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    width: 90%;
    min-height: 33vh; 
  }
  .message-text {
    line-height: 1.7; 
    font-size: 1.1em;
  }
  .close-letter-button {
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
